In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/porn_urls.csv')

In [3]:
copies = df.loc[(df['url'].str.contains("blogspot")) | (df['url'].str.contains("tumblr"))]

In [4]:
length_copies = len(copies)

percent = length_copies/len(df)
print(f'% of links with blogspot or tumblr in it: {int(percent * 100)}%')
print(f'left {int(len(df) * (1-percent))} links')

% of links with blogspot or tumblr in it: 72%
left 611676 links

In [5]:
copies

                                               url category
0                           00000000a.blogspot.com     Porn
12                          000-475-843.tumblr.com     Porn
20       000-coralinne-xxx-sara-calixto.tumblr.com     Porn
23                              000girl.tumblr.com     Porn
24                        000iblogchix.blogspot.ae     Porn
...                                            ...      ...
2237829                   zzzdragonbdsm.tumblr.com     Porn
2237830                          zzziir.tumblr.com     Porn
2237839                        zzzyzxxx.tumblr.com     Porn
2237840                       zzzzcam.blogspot.com     Porn
2237841                          zzzz-m.tumblr.com     Porn

[1626168 rows x 2 columns]

## truncate blogspot and tumblr links by taking only first two domains

In [12]:
def truncate_url(url):
    parts = url.split('.')
    if len(parts) > 2:
        return '.'.join(parts[-3:-1])
    else:
        return '.'.join(parts)

copies['truncated_urls'] = copies['url'].apply(truncate_url)

C:\Users\warfa\AppData\Local\Temp\ipykernel_23308\2456613639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copies['truncated_urls'] = copies['url'].apply(truncate_url)

In [13]:
copies

,url,category,truncated_urls
0,00000000a.blogspot.com,Porn,00000000a.blogspot
12,000-475-843.tumblr.com,Porn,000-475-843.tumblr
20,000-coralinne-xxx-sara-calixto.tumblr.com,Porn,000-coralinne-xxx-sara-calixto.tumblr
23,000girl.tumblr.com,Porn,000girl.tumblr
24,000iblogchix.blogspot.ae,Porn,000iblogchix.blogspot
...,...,...,...
2237829,zzzdragonbdsm.tumblr.com,Porn,zzzdragonbdsm.tumblr
2237830,zzziir.tumblr.com,Porn,zzziir.tumblr
2237839,zzzyzxxx.tumblr.com,Porn,zzzyzxxx.tumblr
2237840,zzzzcam.blogspot.com,Porn,zzzzcam.blogspot
2237841,zzzz-m.tumblr.com,Porn,zzzz-m.tumblr

In [14]:
copies = copies.drop_duplicates(['truncated_urls'])

In [15]:
copies = copies.drop(columns=['truncated_urls'])

In [16]:
copies

                                               url category
0                           00000000a.blogspot.com     Porn
12                          000-475-843.tumblr.com     Porn
20       000-coralinne-xxx-sara-calixto.tumblr.com     Porn
23                              000girl.tumblr.com     Porn
24                        000iblogchix.blogspot.ae     Porn
...                                            ...      ...
2237829                   zzzdragonbdsm.tumblr.com     Porn
2237830                          zzziir.tumblr.com     Porn
2237839                        zzzyzxxx.tumblr.com     Porn
2237840                       zzzzcam.blogspot.com     Porn
2237841                          zzzz-m.tumblr.com     Porn

[219162 rows x 2 columns]

# take other part without tumblr and blogspot

In [19]:
df_no_copies = df.loc[~(df['url'].str.contains("blogspot")) & ~(df['url'].str.contains("tumblr"))]

In [20]:
len(df_no_copies)

611676

In [21]:
df = pd.concat([df_no_copies,copies])

In [23]:
df.to_csv('porn_urls_preprocessed.csv',index=False)