In [1]:
import fiftyone as fo
import fiftyone.zoo as foz
import pandas as pd

In [6]:
dataset = foz.load_zoo_dataset(
    "open-images-v7",
    split="train",
    max_samples=50000,
    label_types = ['classifications'],
    shuffle=True
)

Downloading split 'train' to 'C:\Users\warfa\fiftyone\open-images-v7\train' if necessary
Found 50 images, downloading the remaining 49950
 100% |███████████████| 49950/49950 [3.5h elapsed, 0s remaining, 3.2 files/s]
Dataset info written to 'C:\Users\warfa\fiftyone\open-images-v7\info.json'
Loading 'open-images-v7' split 'train'
 100% |█████████████| 50000/50000 [1.4m elapsed, 0s remaining, 595.5 samples/s]
Dataset 'open-images-v7-train-50000' created

In [4]:
df_labels = pd.read_csv(r'C:\Users\warfa\fiftyone\open-images-v7\train\labels\classifications.csv')
df_classes = pd.read_csv(r'C:\Users\warfa\fiftyone\open-images-v7\train\metadata\classes.csv')

In [5]:
df_labels

                  ImageID        Source   LabelName  Confidence
0        000002b66c9c498e  verification   /m/014j1m           0
1        000002b66c9c498e  verification   /m/014sv8           1
2        000002b66c9c498e  verification    /m/01599           0
3        000002b66c9c498e  verification    /m/015p6           0
4        000002b66c9c498e  verification   /m/015x4r           0
...                   ...           ...         ...         ...
8996790  fffffdaec951185d  verification   /m/01g317           1
8996791  fffffdaec951185d  verification   /m/01xyhv           1
8996792  fffffdaec951185d  verification  /m/03bt1vf           1
8996793  fffffdaec951185d  verification    /m/09j2d           1
8996794  fffffdaec951185d  verification    /m/0dzct           1

[8996795 rows x 4 columns]

Name:        open-images-v7-train-50
Media type:  image
Num samples: 50
Persistent:  False
Tags:        []
Sample fields:
    id:              fiftyone.core.fields.ObjectIdField
    filepath:        fiftyone.core.fields.StringField
    tags:            fiftyone.core.fields.ListField(fiftyone.core.fields.StringField)
    metadata:        fiftyone.core.fields.EmbeddedDocumentField(fiftyone.core.metadata.ImageMetadata)
    positive_labels: fiftyone.core.fields.EmbeddedDocumentField(fiftyone.core.labels.Classifications)
    negative_labels: fiftyone.core.fields.EmbeddedDocumentField(fiftyone.core.labels.Classifications)